<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/service.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>
<body ng-app="registerApp" ng-controller="registerController">
<div class="text-center" style="margin-top: 170px">
	<h3>Pendaftaran Administrator Ujian Soal Online</h3>
	<form class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 form-group alert alert-danger" name="userForm" ng-submit="submitRegister()">
		<div class="input-group" style="margin-bottom: 10px" >
			<span class="input-group-addon"><i class="glyphicon glyphicon-import"></i></span>
			<input type="text" class="form-control" placeholder="Firstname" name="firstname" ng-model="user.firstname">
		</div>
		<div class="input-group" style="margin-bottom: 10px" >
			<span class="input-group-addon"><i class="glyphicon glyphicon-export"></i></span>
			<input type="text" class="form-control" placeholder="Lastname" name="lastname" ng-model="user.lastname">
		</div>
		<div class="input-group" style="margin-bottom: 10px" >
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" class="form-control" placeholder="Username" name="username" ng-model="user.username">
		</div>
		<div style="margin-bottom: 10px" class="input-group" style="margin-bottom: 10px" >
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password">
		</div>
		<input type="submit" class="btn btn-success" value="Daftar" name="register">
	</form>
</div>
</body>
</html>